//SELETORES: Propriedades: valores;
//Ex: h1 { color: blue; font-size: 12px; }

// Selecionamento através:
// tag = selecionar todo mundo
// class (usamos quando queremos reaproveitar o estilo)
// id = para apenas um

// Seletor Global:

* {
    margin: 0; //espaçamento entre as tags (caixas)
    padding: 0; //espaçamento de dentro das caixas
    box-sizing: border-box; //não precisar calcular espaçamento, ou seja, o espaçameto que colocarmos, o site vai seguir
}

// primeira coisa que fazemos ao criar um site
// margin -> espaçamento que vai ficar na margem
// arterístico serve pra fazermos a formatação do nosso site de forma universal

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

h1 {
    color: rgb(255, 255, 255);
    text-align: center;
}

header {
    border: solid;
    background-color: rgb(183, 183, 183);
#logo {
     width: 5%;
}
}

.pages {
    display: flex;
    text-align: center;
    justify-content: space-around;
    
}

main {
    display: flex;
    text-align: center;
    justify-content: space-around;
}

// Classes
// Função de pegar um elemento específico, mesmo estando dentro de tags iguals (por exemplo, colocar class em uma div específica)
// pode ter a mesma class em várias divs


.card{
    background-color: rgb(243, 243, 243);
    border: 10px solid rgb(60, 60, 60);
    border-radius: 10px;
    padding: 10px;
    width: 20vw;

    img {
        width: 100%;
    }

    button {
        background-color: rgba(125, 255, 85, 0.891);
        width: 100%;
    }

}

// ID
// Único, não dá para duas ou mais divs terem o mesmo id
// #bt1 {
//     background-color: green;
// }

// Medidas

// - Fixas: PX (pixels) - (Não mudam)
/* - Relativas:
% (porcentagem);
VW (Viewport Widht - largura da tela);
VH (Viewport Height - altura da tela) - (Mudam conforme o tamanho da tela)*/